<nav>
  <ul>
    <li><a href=“{{ ‘/‘ | relative_url }}”>Home</a></li>

    <li><a href=“{{ ‘/analysis-guidelines/‘ | relative_url }}”>Analysis Guidelines</a></li>

    <li>
      <a href=“{{ ‘/building-blocks/‘ | relative_url }}”>Building Blocks</a>
      <ul>
        <li>
          <a href=“{{ ‘/building-blocks/aspects/‘ | relative_url }}”>Aspects</a>
          <ul>
            <li><a href=“{{ ‘/building-blocks/aspects/major/‘ | relative_url }}”>Major</a></li>
            <li><a href=“{{ ‘/building-blocks/aspects/minor/‘ | relative_url }}”>Minor</a></li>
            <li><a href=“{{ ‘/building-blocks/aspects/harmonic/‘ | relative_url }}”>Harmonic</a></li>
            <li><a href=“{{ ‘/building-blocks/aspects/septile-family/‘ | relative_url }}”>Septile Family</a></li>
            <li><a href=“{{ ‘/building-blocks/aspects/novile-family/‘ | relative_url }}”>Novile Family</a></li>
            <li><a href=“{{ ‘/building-blocks/aspects/decile-family/‘ | relative_url }}”>Decile Family</a></li>
            <li><a href=“{{ ‘/building-blocks/aspects/custom/‘ | relative_url }}”>Custom</a></li>
          </ul>
        </li>

        <li>
          <a href=“{{ ‘/building-blocks/celestial-bodies/‘ | relative_url }}”>Celestial Bodies…</a>
          <ul>
            <li><a href=“{{ ‘/building-blocks/celestial-bodies/asteroids/‘ | relative_url }}”>Asteroids</a></li>
            <li><a href=“{{ ‘/building-blocks/celestial-bodies/calculated-points/‘ | relative_url }}”>Calculated Points</a></li>
            <li><a href=“{{ ‘/building-blocks/celestial-bodies/dwarf-planets/‘ | relative_url }}”>Dwarf Planets & Distant Bodies</a></li>
            <li><a href=“{{ ‘/building-blocks/celestial-bodies/esoteric-points/‘ | relative_url }}”>Esoteric & Hypothetical Points</a></li>
            <li><a href=“{{ ‘/building-blocks/celestial-bodies/lunar-nodes/‘ | relative_url }}”>Lunar Nodes & Moons</a></li>
            <li><a href=“{{ ‘/building-blocks/celestial-bodies/planets/‘ | relative_url }}”>Planets (Classic & Modern)</a></li>
            <li><a href=“{{ ‘/building-blocks/celestial-bodies/special-points/‘ | relative_url }}”>Special Points in Advanced Systems</a></li>
          </ul>
        </li>

        <li><a href=“{{ ‘/building-blocks/fixed-stars/‘ | relative_url }}”>Fixed Stars</a></li>
        <li><a href=“{{ ‘/building-blocks/houses/‘ | relative_url }}”>Houses</a></li>
        <li><a href=“{{ ‘/building-blocks/signs/‘ | relative_url }}”>Signs</a></li>
      </ul>
    </li>

    <li><a href=“{{ ‘/interpretation/‘ | relative_url }}”>Interpretation</a></li>
    <li><a href=“{{ ‘/legal/‘ | relative_url }}”>Legal</a></li>
  </ul>
</nav>